{% load static %}

{% load qurl %}

<aside class="col-lg-4">
    <!-- Widget [Categories Widget]-->
    <div class="widget categories">
    <header>
        <h3 class="h6">Menu</h3>
    </header>
    <div class="item d-flex justify-content-between">
        <a href="{% url 'profile' %}">Profile</a>
    </div>
    <div class="item d-flex justify-content-between">
        <a href="{% url 'search-profile-project' %}">My Project</a>
    </div>
    <div class="item d-flex justify-content-between">
        <a href="{% url 'like-project-list' %}">Like</a>
    </div>
    <div class="item d-flex justify-content-between">
        <a href="{% url 'search-contribution-project' %}">Contribution</a>
    </div>
    </div>
    </div>
    </div>
</aside>