{% extends 'base_blog.html' %}

{% block content %}

    <div class="container">
      <div class="row">
        <!-- Latest projects -->
        <main class="post blog-post col-lg-8">
          <div class="container">
            <p>Are you sure you want to close the project "{{ object }}"?</p>
            <form method="POST" action="." enctype="multipart/form-data">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Confirm</button>
            </form>
          </div>
        </main>
        {% include 'sidebar.html' with most_recent=most_recent category_count=category_count %}
      </div>
    </div>
{% endblock content %}
