{% extends 'base_blog.html' %}
{% load static %}

{% block content %}

<style>
  .post-body img {
    width: 100%;
  }
</style>

    <div class="container">
      <div class="row">
        <!-- Latest Project -->
        <main class="post blog-post col-lg-8">
          <div class="container">
            <div class="post-single">
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category">
                    {% for cat in project.categories.all %}
                    <a>{{ cat }}</a>
                    {% endfor %}
                  </div>
                  {% if project.profile.user.id == request.user.id %}
                  <div class="category d-flex align-items-end">
                  </div>
                  <div class="category d-flex align-items-end">
                  </div>
                  <div class="category d-flex align-items-end">
                  </div>
                  <div class="category d-flex align-items-end">
                  </div>
                  <div class="category d-flex align-items-end">
                    <a href="{% url 'project-update' pk=project.pk %}">Update</a>
                  </div>
                  <div class="category d-flex align-items-end">
                    <a href="{% url 'get-pdf' pk=project.pk  slug=project.slug%}">Report</a>
                  </div>
                  {% endif %}
                </div>
              {% if project.thumbnail %}
              <div class="post-thumbnail">
                <img src="{{ project.thumbnail.url }}" alt="..." class="img-fluid">
              </div>
              {% endif %}

              <div class="row">
                <div class="col-10">
                  <h1>{{ project.title }}</h1>
                </div>
                {% if request.user.is_authenticated %}
                <div class="col-1">
                  {% if is_liked %}
                  <a href="{% url 'like-project' id=project.id %}">
                    <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                  </a>
                  {% else %}
                  <a href="{% url 'like-project' id=project.id %}">
                    <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                  </a>
                  {% endif %}
                </div>
                <div class="col-1">
                  {% if is_disliked %}
                  <a href="{% url 'dislike-project' id=project.id %}">
                    <i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i>
                  </a>
                  {% else %}
                  <a href="{% url 'dislike-project' id=project.id %}">
                    <i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i>
                  </a>
                  {% endif %}
                </div>
                {% endif %}
              </div>

                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{ project.profile.image.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ project.profile.user.username }}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">
                    <div class="date"><i class="icon-clock"></i> {{ project.timestamp }}</div>
                    <div class="date"><i class="icon-comment"></i>{{ project.requirement_count }}</div>
                    <div class="date"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>{{ project.like_count }}</div>
                    <div class="comments meta-last"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>{{ project.dislike_count }}</div>
                  </div>
                </div>
                <div class="post-body" style="text-align: justify;">
                  {{ project.content | safe }}
                </div>

                <div class="post-comments">
                  <header>
                    <h3 class="h6">Requirement Project<span class="no-of-comments">({{ project.requirements.count }})</span></h3>
                  </header>
                  {% for requirement in project.get_requirements %}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      {% if requirement.user.id == request.user.id %}
                      <div class="user d-flex align-items-center">
                        <div class="image">
                          <img src="{{ requirement.user.profile.image.url }}" alt="..." class="img-fluid rounded-circle" style="width: 40px;">
                        </div>
                        <div class="title"><strong>{{ requirement.user.username }}</strong>
                          
                          <div class="categorie d-flex align-items-end">
                            <span class="date">{{ requirement.timestamp|timesince }} ago</span>
                            <span>&nbsp &nbsp &nbsp</span>
                            <a href="{% url 'requirement-delete' pk=requirement.pk %}">Delete</a>
                          </div>
                        </div>
                      </div>
                      <header>
                        <h3 class="h6">#<span class="categories">{{requirement.category }}</span></h3>
                      </header>
                      {% else %}
                      <div class="user d-flex align-items-center">
                        <div class="image">
                          <img src="{{ requirement.user.profile.image.url }}" alt="..." class="img-fluid rounded-circle" style="width: 40px;">
                        </div>
                        <div class="title"><strong>{{ requirement.user.username }}</strong>
                          <span class="date">{{ requirement.timestamp|timesince }} ago</span>
                        </div>
                      </div>
                      <header>
                        <h3 class="h6">#<span class="categories">{{requirement.category }}</span></h3>
                      </header>
                      {% endif %}
                    </div>
                    <div class="comment-body">
                      <p>{{ requirement.content }}
                        <form method="POST" action="." class="commenting-form">
                          {% csrf_token %}
                          <div class="row">
                            <div class="form-group col-md-12">
                            </div>
                            {% if project.profile.user.id == request.user.id %}
                            <div class="form-group col-md-12">
                              {% if requirement.status == "A" %}
                              <button name="approve" type="submit" value="{{requirement.id}}" class="btn btn-success">Approve</button>
                              <button name="decline" type="submit" value="{{requirement.id}}" class="btn btn-secondary">Decline</button>
                              {% elif requirement.status == "D" %}
                              <button name="approve" type="submit" value="{{requirement.id}}" class="btn btn-secondary">Approve</button>
                              <button name="decline" type="submit" value="{{requirement.id}}" class="btn btn-danger">Decline</button>
                              {% else %}
                              <button name="approve" type="submit" value="{{requirement.id}}" class="btn btn-secondary">Approve</button>
                              <button name="decline" type="submit" value="{{requirement.id}}" class="btn btn-secondary">Decline</button>
                              {% endif %}
                            </div>
                            {% endif %}
                          </div>
                        </form>
                      </p>
                        <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                            <div class="d-flex align-items-center flex-wrap">
                              <div class="date"><i class="icon-comment" aria-hidden="true"></i><a href="{{ requirement.get_absolute_url }}"> View Discussion</a></div>
                              <div class="date"><i class="fa fa-thumbs-o-up"></i>{{ requirement.reqlike_count }}</div>
                              <div class="date"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>{{ requirement.reqdislike_count }}</div>
                            </div>
                        </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% if not project.status_open %}
                <a href="{% url 'project-list' %}" class="btn btn-primary">This project has been closed</a>
                {% elif request.user.is_authenticated %}
                <div class="add-comment">
                  <header>
                    <h3 class="h6">Give requirement</h3>
                  </header>
                  {% if error %}
                    <h3 style="color: red">{{ error }}</h3>
                  {% endif %}
                  <form method="POST" action="." class="commenting-form">
                    {% csrf_token %}
                    <div class="row">
                      <div class="form-group col-md-12">
                        {{ form_req }}
                      </div>
                      <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary">Send</button>
                      </div>
                    </div>
                  </form>
                </div>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Login for adding requirements</a>
                {% endif %}
              </div>
            </div>
          </div>
        </main>
        {% include 'sidebar.html' with most_recent=most_recent category_count=category_count %}
      </div>
    </div>

{% endblock content %}
