{% extends 'base_blog.html' %}
{% load static %}

{% block content %}

<style>
  .post-body img {
    width: 100%;
  }
</style>

    <div class="container">
      <div class="row">
        <!-- Latest Project -->
        <main class="post blog-post col-lg-8">
          <div class="container">
            <div class="post-single">
              <div class="post-details">

              <div class="row">
                <div class="col-10">
                  <h2>{{ requirement.content }}</h2>
                </div>
                {% if request.user.is_authenticated %}
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                    <div class="avatar"><img src="{{ requirement.user.profile.image.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><strong>{{ requirement.user.username }}</strong></div>
                      <div class="categorie d-flex align-items-end">
                        <span class="date">{{ requirement.timestamp|timesince }} ago</span>
                        <span class="date">{{ requirement.timestamp }}</span>
                      </div>
                    </div>
                </div>
                {% endif %}
              </div>
              <div class="post-comments">
                <header>
                  <h3 class="h6">Requirement Discussion<span class="no-of-comments">({{ requirement.comment_count }})</span></h3>
                </header>
                {% for comment in requirement.get_comments %}
                <div class="comment">
                  <div class="comment-header d-flex justify-content-between">
                    {% if requirement.user.id == request.user.id %}
                    <div class="user d-flex align-items-center">
                      <div class="image">
                        <img src="{{ requirement.user.profile.image.url }}" alt="..." class="img-fluid rounded-circle" style="width: 40px;">
                      </div>
                      <div class="title"><strong>{{ comment.user.username }}</strong>
                        
                        <div class="categorie d-flex align-items-end">
                          <span class="date">{{ comment.timestamp|timesince }} ago</span>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                  <div class="comment-body">
                    <p>{{ comment.content }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="post-comments">
                <div class="add-comment">
                  <header>
                    <h3 class="h6">Give Comments</h3>
                  </header>
                  {% if error %}
                    <h3 style="color: red">{{ error }}</h3>
                  {% endif %}
                  <form method="POST" action="." class="commenting-form">
                    {% csrf_token %}
                    <div class="row">
                      <div class="form-group col-md-12">
                        {{ comments_form }}
                      </div>
                      <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary">Send</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
        {% include 'sidebar.html' with most_recent=most_recent category_count=category_count %}
      </div>
    </div>

{% endblock content %}